@import './src/styles';

.modal{
  width: 100vm;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;

  &__content {
    min-width: 600px;
    max-height: 200px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border-radius: 10px;
    font-size: 2.5rem;
  }
}
button {
  margin-top: 2rem;
  padding: .75rem 1rem;
  background-color: $body_bg_color;
  color: $score_color;
  font-size: 1.25rem;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

  &:hover {
    background-color: $square_bg;
  }
}

.winner, .draw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active {
  opacity: 1;
  pointer-events: all;
}

